@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root {
    --primary-color: #3a4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background: var(--primary-color) url('/img/logo.gif') no-repeat center center/cover; */
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    position: absolute;
}

.content-above {
    z-index: 2;
    position: relative;
    top: -25%;
}

.content-below {
    z-index: 2;
    position: absolute;
    bottom: 15%;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover {
    transform: scale(0.98);
}

#info {
    padding: 40px;
    text-align: center;
}

#info p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#info h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

#cast {
    padding: 40px;
    text-align: center;
}

#cast p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#cast h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

.social a {
    margin: 0 5px;
}

.profile-card {
    margin: 16px 16px;
    display: inline-block;
    width: 256px;
    height: auto;
    border-radius: 4px;
    background: #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-card .profile-image {
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    padding: 4px;
    position: relative;
    top: -40px;
    left: 44px;
    background: #eee;
    border-radius: 100%;
    box-shadow: 0 -2px 6px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.profile-card .profile-image-none {
    color: #8cbab7;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 160px;
    position: relative;
    top: -40px;
    left: 44px;
    background: #eee;
    border-radius: 100%;
    box-shadow: 0 -2px 6px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.profile-card .profile-name {
    width: 256px;
    box-sizing: border-box;
    padding: 0 16px;
    text-align: center;
    color: #2b3f60;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -64px;
}

.profile-card .profile-description {
    width: 256px;
    box-sizing: border-box;
    padding: 0 24px;
    color: #748aa4;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -72px;
    margin-bottom: -48px;
}